Repository powerbot/RSBot-API, pull requests merged in 2019-12, with the labels that each got.

#2100 Components fix
  src/main/java/org/powerbot/bot/rt4/HashTable.java
  src/main/java/org/powerbot/bot/rt4/client/IterableHashTable.java
  src/main/java/org/powerbot/script/rt4/Component.java
  src/main/java/org/powerbot/script/rt4/Constants.java
Labels: api, bug, rt4

#2104 temporary workaround for deformed cache NPCs
  src/main/java/org/powerbot/bot/cache/JagexStream.java
  src/main/java/org/powerbot/script/rt4/CacheNpcConfig.java
Labels: api, bug, rt4

#2105 Fix for NPC buffer underflow exception.
  src/main/java/org/powerbot/script/rt4/CacheNpcConfig.java
Labels: api, bug, rt4

#2113 added isFocused method
  src/main/java/org/powerbot/script/Input.java
Labels: api, feature

#2118 Bank improvements
  src/main/java/org/powerbot/script/rt4/Bank.java
  src/main/java/org/powerbot/script/rt4/Game.java
  src/main/java/org/powerbot/script/rt4/Menu.java
Labels: api, feature, rt4

#2120 replace method reference with explicit lambda.
  src/main/java/org/powerbot/script/rt4/BasicQuery.java
Labels: api, bug, rt4
